@import "tailwindcss";

@theme {
  --color-primary-50: #e3f6fd;
  --color-primary-100: #c9edfb;
  --color-primary-200: #94d6f7;
  --color-primary-300: #5db3e9;
  --color-primary-400: #358ed4;
  --color-primary-500: #005eb8;
  --color-primary-600: #00489e;
  --color-primary-700: #003684;
  --color-primary-800: #00266a;
  --color-primary-900: #001b58;
}
